{% extends 'base.html' %}


{% block content %}


<h1>Hello World!</h1>

<ul>
    {% for post in object_list %}
<!-- pk-primary key, unique key for post -->  
    <li><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a> - {{ post.author }}<br/>
    {{ post.excerpt }}<br/>    
    {{ post.body }}<br/>
    {{ post.created_on}}
    <!-- Link to edit post -->
    <small>
        {% if user.is_authenticated %}
        <a href ="{% url 'edit_post' post.pk %}">Edit Post</a> or
        <a href ="{% url 'delete_post' post.pk %}">Delete Post</a>
        {% endif %}
    </small>
</li>
    {% endfor %}
</ul>

{% endblock %}