{% extends 'base.html' %}


{% block content %}

<div class="container-fluid">
    <div class="row">

<h1>Post Blogs about Trailers</h1>

<div class="col-12 mt-3 left">
    <div class="row">

    {% for post in object_list %}

<!-- pk-primary key, unique key for post -->  
        <div><a href="{% url 'post-detail' post.pk %}"><p class="title">{{ post.title }}</p></a>
        <a href="{% url 'category' post.category %}">{{ post.category }}</a>
        - Created by: {{ post.author }}<br/></div>

        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
            {% if "placeholder" in post.featured_image.url %}
            <img class="card-img-top"
                src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="images">
            {% else %}
            <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="images">
            {% endif %}
        
    {{ post.excerpt|slice:":200"|safe }}<br/>    
    {{ post.body|slice:":200"|safe }}<br/>
    {{ post.created_on}}
    </div>
    </div>
    
<!-- Link to edit and delete post -->
    <small>
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <a href ="{% url 'edit_post' post.pk %}">Edit Post</a> or
        <a href ="{% url 'delete_post' post.pk %}">Delete Post</a>
        {% endif %}
        {% endif %}
        </small>
    </div>
    </div>

{% endfor %}
</div>
</div>
</div>
</div>

{% endblock %}