{% extends 'base.html' %}

{% block title %}
{{ post.title_tag }}
{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-4 card mb-4 mt-3 left top">
            <div class="card-body">
<h1>{{ post.title }}</h1>
<small>Created by: {{ post.author }} 
<!-- Authentication -->
    {% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    - <a href ="{% url 'edit_post' post.pk %}">Edit Post
    </a> or
    <a href ="{% url 'delete_post' post.pk %}">Delete Post
    </a>
    {% endif %}
    {% endif %}
    </small>
<br/>

    <!-- The featured image URL goes in the src attribute -->
    {% if "placeholder" in post.featured_image.url %}
    <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
    {% else %}
    <img src=" {{ post.featured_image.url }}" width="100%" >
    {% endif %}

{{ post.excerpt|safe }}<br/>
<hr>
{{ post.body|safe }}<br/>
{{ post.created_on}}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br/>
<hr>
<br/>
<form action = "{% url 'like_post' post.pk %}" method ="POST">
    {% csrf_token %}
    <button type="submmit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
    {{ total_likes }} - likes
</form>
            </div>
        </div>
    </div>
</div>

<!-- <i class="fa-solid fa-thumbs-up"></i> -->

{% endblock %}
